body {
    background-color: #3b4664;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
}

.container.default {
    background-color: #242d44;
}

.container.light {
    background-color: #f0f0f0;
    color: #000;
}

.container.dark {
    background-color: #1e1e1e;
    color: #f0f0f0;
}

.theme-toggle {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 15px;
    color: #fff;
}

.theme-toggle.light {
    color: #000;
}

.theme-toggle.dark {
    color: #f0f0f0;
}

.theme-toggle span {
    font-size: 0.9rem;
    font-weight: bold;
    color: #d03f2f;
}

.theme-toggle input[type="radio"] {
    display: none;
}

.theme-toggle label {
    background-color: #242d44;
    padding: 5px 10px;
    border-radius: 12px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.theme-toggle input[type="radio"]:checked + label {
    background-color: #d03f2f;
}

.display {
    background-color: #181f33;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 2rem;
    text-align: right;
}

.container.light .display {
    background-color: #ffffff;
    color: #000;
}

.container.dark .display {
    background-color: #333;
    color: #fff;
}

.display input {
    background: none;
    border: none;
    color: inherit;
    width: 100%;
    text-align: right;
    font-size: 2rem;
    outline: none;
    padding: 0;
    height: 40px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #eae3dc;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.container.light button {
    background-color: #ddd;
    color: #000;
}

.container.dark button {
    background-color: #444;
    color: #ddd;
}

button:hover {
    background-color: #d2cccc;
}

.container.light button:hover {
    background-color: #ccc;
}

.container.dark button:hover {
    background-color: #555;
}

button:active {
    background-color: #c1bfb6;
}

/* Button Styles for del, reset, and equal */
button.del {
    background-color: #647198;
    color: #fff;
}

button.reset {
    background-color: #647198;
    color: #fff;
    grid-column: span 2;
}

button.equal {
    background-color: #d03f2f;
    color: #fff;
    grid-column: span 2;
}

button.equal:hover {
    background-color: #f96b5b;
}

button.reset:hover,
button.del:hover {
    background-color: #8892b0;
}

/* Presistent Light Theme */
.container.light button.del {
    background-color: #647198;
    color: #fff;
}

.container.light button.reset {
    background-color: #647198;
    color: #fff;
}

.container.light button.equal {
    background-color: #d03f2f;
    color: #fff;
}

.container.light button.equal:hover {
    background-color: #f96b5b;
}

.container.light button.reset:hover,
.container.light button.del:hover {
    background-color: #8892b0;
}

/* Presistent Styling for Dark Theme */
.container.dark button.del {
    background-color: #647198;
    color: #fff;
}

.container.dark button.reset {
    background-color: #647198;
    color: #fff;
}

.container.dark button.equal {
    background-color: #d03f2f;
    color: #fff;
}

.container.dark button.equal:hover {
    background-color: #f96b5b;
}

.container.dark button.reset:hover,
.container.dark button.del:hover {
    background-color: #8892b0;
}
