<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculator</title>
</head>
<body>
  <div class="container" [ngClass]="currentTheme">
    <!-- Theme Toggle Button  -->
    <div class="theme-toggle">
      <span>Theme</span>
      <input type="radio" id="theme1" name="theme" (change)="setTheme('default')" [checked]="currentTheme==='default'"/>
      <label for="theme1">1</label>
      <input type="radio" id="theme2" name="theme" (change)="setTheme('light')" [checked]="currentTheme==='light'"/>
      <label for="theme2">2</label>
      <input type="radio" id="theme3" name="theme" (change)="setTheme('dark')" [checked]="currentTheme==='dark'"/>
      <label for="theme3">3</label>
    </div>

    <!-- Display Area for Calculator  -->
    <div class="display">
      <form action="" [formGroup]="inputStr">
        <input type="text" formControlName = "text" readonly>
      </form>
    </div>

    <!-- Buttons for calculator  -->
    <div class="button-container">
      <button (click)="onButtonClick($event.target)">7</button>
      <button (click)="onButtonClick($event.target)">8</button>
      <button (click)="onButtonClick($event.target)">9</button>
      <button class="del" (click)="onDelete()">DEL</button>
      <button (click)="onButtonClick($event.target)">4</button>
      <button (click)="onButtonClick($event.target)">5</button>
      <button (click)="onButtonClick($event.target)">6</button>
      <button (click)="onButtonClick($event.target)">+</button>
      <button (click)="onButtonClick($event.target)">1</button>
      <button (click)="onButtonClick($event.target)">2</button>
      <button (click)="onButtonClick($event.target)">3</button>
      <button (click)="onButtonClick($event.target)">-</button>
      <button (click)="onButtonClick($event.target)">.</button>
      <button (click)="onButtonClick($event.target)">0</button>
      <button (click)="onButtonClick($event.target)">/</button>
      <button (click)="onButtonClick($event.target)">*</button>
      <button class="reset" (click)="onReset()">RESET</button>
      <button class="equal" (click)="onCalculate()">=</button>
    </div>
  </div>
</body>
</html>

